html    
  style.
    p {font-family: Rockwell;font-size: 30px; color:#FFFFFF;}
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Contact us at our toll-free number:
    p + 1800 746 3927
    br
    p Drop us an email at customer-support@quickmeal.com