<html>   
  <style>p {font-family: Rockwell;font-size: 30px; color:#FFFFFF;}</style>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <p>How can I edit my order?</p>
    <p>Your order can be edited before it is received by the restaurant. </p>
    <p>Call customer support to change your order</p><br/>
    <p>Can I cancel my order?</p>
    <p>All order cancellations are subject to cancellation charges of 2% of the bill amount.</p>
  </body>
</html>