html    
  style.
    p {font-family: Rockwell;font-size: 30px; color:#FFFFFF;}
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p BUY 1 GET 1 FREE MEAL!!! HURRY! OFFER VAID UNTIL November 30, 2019